form{
width: 70%;
Height:70%;
padding-top:1px;
justify-content: center;
display:flex;
flex-direction: column;
margin:3%;
margin-left:25%;

}
.containerlogin{
    width:40%;
    border-radius: 10px;
    background-color: white;
    
  justify-content: center;
  margin-left:30%;
  
  padding-bottom:10px;
}
#i{
    padding-top:1px;
    width:70%;
    height:40px;
    padding-left:20px;
    margin-top: 20px;
    border-radius:5px;
    /* margin-right: 20px; */
    
}
#btn{
    width:77%;
    height:40px;
    background-color:rgb(177, 215, 255);
    border-radius:5px;
    border:0px;
    margin-top: 10px;
    font-size: 18px;
}  
/* label{
    gap:10px;
    width:50%;
    padding-left:10%;
} */
#checkbox{
    width:20px;
}
@media screen and (max-width:600px){
    .containerlogin{
        width:90%;
        border-radius: 10px;
        background-color: white;
        
      justify-content: center;
      margin-left:5%;
      margin-top:5%;
      padding-top:10px;
      padding-bottom:10px;
      margin-bottom:5%;
    }
}
#image1{
    margin-left: 20%;
        Height:250px;
        margin-top: 1%;
        margin-right: 2%;
        width:60%;
}